html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body, button {
    font-family: Fantasy, sans-serif;
}

h1, h2, p {
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.score_overview {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.score_overview > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(154, 205, 50, 50%);
    border: medium solid rgba(85,107,47, 50%);
    padding: 0.5em 1em;
    gap: 10px;
}

.game_container {
    display: block;
}

.game_result_container {
    display: none;
    justify-content: center;
    margin-top: 40px;
}

.game_result {
    font-size: 50px;
}

.current_result_container {
    display: flex;
    justify-content: center;
}

.blue_box {
    border-radius: 5px;
    background-color: lightblue;
    border: medium solid skyblue;
    padding: 0.5em 1em;
}

.dark_green_box {
    border-radius: 5px;
    background-color: yellowgreen;
    border: medium solid darkolivegreen;
    padding: 0.5em 1em;
    font-size: 16px;
}

.red_box {
    border-radius: 5px;
    background-color: indianred;
    border: medium solid darkred;
    padding: 0.5em 1em;
    font-size: 16px;
}

